---
---

//
// IMPORTS
//

@import '_variables';

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

.accordion-button:not(.collapsed) {
  background-color:transparent;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
  background: white; // #f8f9fa;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


//
// Headers
//
.brand-logo {
  font-size:27px;
  font-weight: 200;
  margin-left: .2em;

  small {
    font-size:15px;
  }

  img {
    height: 1.2em;
    float:left;
    margin-top: .4em;
    margin-right: 0.2em;
  }
}

h1, h2, h3, h4 {
  // margin-top: 1em;
  font-weight: 300;
}

h4, h5, h6 {
  margin-top: 1em;
}

.text-gray {
  color: $darkGray;
}

//
// Posts
//
.article-content {
  color: $darkGray;
  font-family: 'SwiftNeueLTW01', Georgia, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0 0 1em;
  letter-spacing: .01em;
  
  h2, h3, h4 {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 1em;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }
}

.post-image-preview {
}

.gist {
   max-width:350px;
   overflow:auto;
}

.gist .blob-wrapper.data {
   max-height:400px;
   overflow:auto;
}

.entry {
  text-align: justify;
}

.thumbnail {
  max-height:200px;
}

.equation {
  margin-top: 2em;
  margin-bottom:2em;
}

hr {
  margin: 2em 0 3em 0;
  border: 3px solid #efefef;

  &.thin {
    border:none;
    height: 1px;
    color: #aaa;
  }
}


//
// Mixins
//
.small-empty-v-space {
  min-height: 30px;
  margin-bottom: 1%;
}
.empty-v-space {
  min-height: 50px;
  margin-bottom: 5%;
}

.image-container {
}
.image-container > img {
  height:150px;
}

.btn-floating-up {
  margin-top:-32px;
}

.icon-down {
  margin-top:.25em;
}

.category {
  .title {
    margin-top: 2rem;
    margin-bottom: .5rem;
  }

  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.bg-purple {
  background-color: $purple;
}

.bg-darker {
  background-color: rgba(0, 0, 0, 0.9);
}

.text-gray {
  color: #ccc;
}

@import "highlights";
@import "svg-icons";


//
// Figures
//

figure > figcaption {
  font-size: .8em;
  color: #888;
}


.carousel-control-prev, .carousel-control-next {
  background: none;
  border: none;
}


.w-lg-130 {
  @media (min-width: 1200px) { 
    width: 130%;
    margin-left: -15%;

    img {
      width: 100%;
    }
  }
}
