<footer class="page-footer bg-gray p-2">
    <div class="empty-v-space d-none d-xl-block" style="margin-bottom: 1vh"></div>
    <div class="container">
        <div class="row">
            {% for entry in site.data.footer %}
            <div class="col-12 col-md-6 col-lg-4">
                <h5>{{ entry.title }}</h5>
                <p class="text-body">
                    {{ entry.description }}
                </p>
            </div>
            {% endfor %}
        </div>
        <div class=" text-end">
            <hr class="mb-3">
            {% include svg-icons.html %}
        </div>
    </div>
</footer>
