<footer class="page-footer text-light pb-4" style="background-color: rgba(0, 0, 0, 0.9);">
    <br><br><br>
    <div class="container pb-4">
        <div class="row">
            <div class="col-12 col-lg-4 p-4 pb-2"></div>
            <div class="col-12 col-lg-4 p-4 pb-2"></div>
            <div class="col-12 col-lg-4 p-4 pb-2">
                <h5>Supporting Study Material</h5>
                <p style="color: #ccc;">
                    If you are an undergrad student and are looking for additional study material,
                    check out our collaborative project
                    <a href="http://comp-ufscar.github.io/" class="text-light">comp-ufscar.github.io</a>.
                </p>
            </div>
        </div>
        <div class=" text-end">
            <hr class="mb-3">
            {% include svg-icons.html %}
        </div>
    </div>
</footer>
