<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="image_src" type="image/png" href="img_path" />

{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt| strip_html }}" />
<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
<meta property="og:image" content="{{ site.image }}" />
{% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<meta name="author" content="{{ site.name }}" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/infra/apple-touch-icon.webp">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/infra/favicon-32x32.webp">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/infra/favicon-16x16.webp">
<link rel="manifest" href="{{site.baseurl}}/assets/images/infra/site.webmanifest">
<link rel="mask-icon" href="{{site.baseurl}}/assets/images/infra/safari-pinned-tab.svg" color="#603cba">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#ffffff">

<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
      href="{{ site.baseurl }}/feed.xml" />
