<div class="ps-3 pe-3 pb-2 text-center">
    <a href="/" title="Home">
        <img src="https://avatars.githubusercontent.com/u/1595030?s=460&u=35518c92214d083c42a6dbca52f4a4ac936121ab&v=4"
            alt="Aloy, Horizon Zero Dawn." class="img-fluid rounded-circle"
            style="width:100px" />
    </a>
</div>

<div class="ps-3 pe-3">
    <h6 class="text-light text-center"><strong>Lucas David</strong></h6>
    <p>
        <small>
            Hello! I'm currently studying Machine Learning/Computer Vision at University of Campinas.
            — <a href="mailto:lucas.david@ic.unicamp.br">lucas.david@ic.unicamp.br</a>
        </small>
    </p>
</div>

<ul class="list-group list-group-flush mb-4">
    <a href="/" class="list-group-item list-group-item-action bg-dark text-light">Posts</a>
    <a href="/projects" class="list-group-item list-group-item-action bg-dark text-light">Projects</a>
</ul>
