<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-lg shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{site.baseurl}}/assets/profile-s.jpg" alt="" height="32"
                 class="d-inline-block rounded align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-btn-container"
            aria-controls="navbar-btn-container" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-btn-container">
            <ul class="navbar-nav ms-auto small">
                <!-- <li class="nav-item"><a href="{{ site.baseurl }}/studies" class="nav-link">Studies</a></li>
                <li class="nav-item"><a href="https://www.linkedin.com/in/lucasolivdavid/" class="nav-link"
                        target="_blank">About</a></li> -->
            </ul>
        </div>
    </div>
</nav>
