<div class="card {{post.color}}">

  {% if post.images %}
  <div class="card-image white post-image-preview">
    <img src="{{ site.baseurl }}{{ post.images[0].url }}"
         alt="{{ posts.images[0].alt }}"
         title="{{ posts.images[0].title }}" />
  </div>
  {% endif %}
  <div class="card-content white-text">
    <a class="card-title white-text"
       href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    <p>
      {{ post.excerpt }}
      <span class="meta">
        — {{ post.date | date: "%B %e, %Y" }}
      </span>
    </p>
  </div>
  <div class="card-action">
    <a href="{{ site.baseurl }}{{ post.url }}"
       class="white-text">more</a>
  </div>
</div>
