<div class="mb-4 pb-4">
  <h2 style="font-weight:900;">
    <a href="{{ site.baseurl }}{{ post.url }}" class="text-dark" style="text-decoration: none;">{{ post.title }}</a>
    <br>
    <small class="lead text-muted">{{ post.excerpt }}</small>
  </h2>

  {% if post.lead_image %}
  <div style="max-height: 300px; overflow-y: hidden" class="mb-2">
    <img src="{{ site.baseurl }}{{ post.lead_image }}" class="figure-img img-fluid rounded" />
  </div>
  {% endif %}
  <p style="color: #444; font-size: 1.2em;">
    {{ post.first_p }}
  </p>

  {{ post.inspect }}

  <small class="text-muted">
    Published in {{ post.date | date: "%B %e, %Y" }}
    {% for t in post.tags %}
    <span class="badge bg-dark text-light">{{t}}</span>
    {% endfor %}
  </small>
</div>