<p>
  Hello! 
  I'm a PhD student at University of Campinas, where I got my Master's in Machine Learning/Computer Vision.
</p>
<p>
  If you wish to talk, you can <a href="mailto:lucasolivdavid@gmail.com">mail</a> me and I'll be happy to answer!
  I'm also always on GitHub and Stackoverflow.
</p>

<figure style="max-width: 200px;">
  <img src="/assets/images/site/scientist_myself.jpeg" alt="You know, I'm something of a scientist myself."
    class="figure-img img-fluid rounded">
  <figcaption>
    <small class="text-secondary">Source: <a href="https://knowyourmeme.com/memes/im-something-of-a-scientist-myself">knowyourmeme</a></small>
  </figcaption>
</figure>

<h5>Interests</h5>
<p>
  <span class="badge bg-light text-dark">ML</span>
  <span class="badge bg-light text-dark">Big Data</span>
  <span class="badge bg-light text-dark">Distributed Processing</span>
  <span class="badge bg-light text-dark">Software Engineering</span>
  <span class="badge bg-light text-dark">The Witcher</span>
  <span class="badge bg-light text-dark">Star Craft II</span><br>
</p>
