<div id="sidebar" class="ps-3 pe-3 {{ include.sidebarClassed }}">
  <div class="text-center">
    <a href="/" title="Home">
      <img src="/assets/images/infra/aloy.thumbnail" alt="Aloy, a character from Horizon Zero Dawn."
        class="img-fluid rounded-circle" style="width:100px" />
    </a>
  </div>
  <p class="pt-2 {{ include.sidebarTextClassed }}">
    <small>
      {% if include.hideHello %}
      {% else %}
        Hello! I'm currently studying Machine Learning/Computer Vision at University of Campinas.
        —
      {% endif %}
      <a href="mailto:lucas.david@ic.unicamp.br" class="text-decoration-none fw-bold">lucas.david@ic.unicamp.br</a>
    </small>
  </p>

  {% if include.summary %}
  {% include {{ include.summary }} %}
  {% endif %}
</div>
