<div class="hero">
    <div class="empty-v-space d-none d-md-block" style="margin-bottom: 15vh"></div>
    <div class="row text-center">
        <div class="col-12 col-xl-8 offset-xl-2">
            <img src="/assets/images/infra/aloy.thumbnail" alt="Aloy, a character from Horizon Zero Dawn."
                class="img-fluid rounded-circle" style="width:100px" />
        </div>
        <div class="col-12 col-xl-8 offset-xl-2 pt-2">
            <p class="display-6">
                <small>
                    Hello! I'm currently studying Machine Learning/Computer Vision at University of Campinas.
                    <a href="mailto:lucas.david@ic.unicamp.br"
                        class="link-dark fw-bold">lucas.david@ic.unicamp.br</a>
                </small>
            </p>
        </div>
    </div>

    <div class="text-center">{% include index/social-links.html %}</div>
    <hr class="thin mt-2 mb-2 w-75 mx-auto" />

    <nav class="nav justify-content-center">
        <a class="nav-link link-dark" href="{{site.base_url}}/blog">Blog</a>
        <a class="nav-link link-dark disabled ps-0 pe-0" href="#" tabindex="-1" aria-disabled="true">•</a>
        <a class="nav-link link-dark" href="#presentations">Presentations</a>
        <a class="nav-link link-dark disabled ps-0 pe-0" href="#" tabindex="-1" aria-disabled="true">•</a>
        <a class="nav-link link-dark" href="#repos">Repos</a>
        <a class="nav-link link-dark disabled ps-0 pe-0" href="#" tabindex="-1" aria-disabled="true">•</a>
        <a class="nav-link link-dark" href="#reports">Reports</a>
        <a class="nav-link link-dark disabled ps-0 pe-0" href="#" tabindex="-1" aria-disabled="true">•</a>
        <a class="nav-link link-dark" href="#events">Events</a>
    </nav>
    <div class="empty-v-space d-none d-md-block" style="margin-bottom: 25vh"></div>
</div>
