<!-- <img src="/assets/images/infra/background.jpg"
     class="img-fluid"
     alt="Photo of the sunset at Pico das Cabras, close to the City Observatory of Campinas, located in the inner state of São Paulo."> -->

<div class="hero">
    <div class="container">
        <div class="empty-v-space d-none d-md-block" style="margin-bottom: 10vh"></div>
        <div class="row">
          <div class="col-12 col-sm-6 offset-sm-3 offset-md-0 col-md-4 col-lg-4 col-xl-4 pt-4 pb-4">
            <img src="/assets/images/infra/hero.jpg" alt="A Photograph showing a dog." class="img-fluid rounded shadow-sm" />
          </div>
          <div class="col-12 col-md-8 col-lg-8 col-xl-5 offset-xl-3 pt-4 pb-4">
            <div class="">
              <p class="text-secondary rounded ">
                $ whoami
              </p>
              <p>
                <span class="display-5 lh-1">I'm</span> Lucas, a PhD student in Computer Vision/Machine Learning at University of Campinas.
                My research interests are Explainability and Weakly Supervised Semantic Segmentation problems.
              </p>

              <div class="text-center">{% include index/social-links.html %}</div>
              <nav class="nav justify-content-center">
                  <a class="nav-link link-dark" href="{{site.base_url}}/blog">Blog</a>
                  <a class="nav-link link-dark disabled ps-0 pe-0" href="#" tabindex="-1" aria-disabled="true">•</a>
                  <a class="nav-link link-dark" href="#presentations">Presentations</a>
                  <a class="nav-link link-dark disabled ps-0 pe-0" href="#" tabindex="-1" aria-disabled="true">•</a>
                  <a class="nav-link link-dark" href="#repos">Repos</a>
                  <a class="nav-link link-dark disabled ps-0 pe-0" href="#" tabindex="-1" aria-disabled="true">•</a>
                  <a class="nav-link link-dark" href="#reports">Reports</a>
                  <a class="nav-link link-dark disabled ps-0 pe-0" href="#" tabindex="-1" aria-disabled="true">•</a>
                  <a class="nav-link link-dark" href="#events">Events</a>
              </nav>
            </div>

        </div>
        </div>
    </div>
</div>
