<ul class="mb-4 ps-0 small" style="list-style: none; font-size: 0.8em">
  <li class="d-inline d-lg-block"><a href="/" class="text-muted">Posts</a></li>
  <li class="d-inline d-lg-block"><a href="/projects" class="text-muted">Projects</a></li>

  {% if site.footer-links.github %}
  <li class="d-inline d-lg-block"><a href="https://github.com/{{ site.footer-links.github }}"
      rel="noopener noreferrer nofollow" target="_blank" class="text-muted">Github</a></li>
  {% endif %}
  {% if site.footer-links.linkedin %}
  <li class="d-inline d-lg-block"><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"
      rel="noopener noreferrer nofollow" target="_blank" class="text-muted">LinkedIn</a></li>
  {% endif %}
</ul>
