<h2>GitHub Projects</h2>

<div class="cards-container">
  {% assign repos = site.github.public_repositories | where:'fork', false | sort: 'stargazers_count' | reverse %}
  {% for r in repos limit: 12 %}
  <div class="card mb-1">
    <div class="card-body pt-2 pb-1">
      <p class="card-title small mb-1">
        <strong>
          <i data-feather="book" width="12" height="12"></i>
          <a href="{{ repository.html_url }}">{{r.name}}</a>
        </strong>
      </p>
      <p class="card-text small mb-1">
        {{r.description}}
      </p>
      <p class="text-muted small mb-0" style="font-size: .7em;">
        Last pushed at {{r.pushed_at | date_to_string}}
      </p>
      <p class="text-muted small mb-0" style="font-size: .7em;">
        <i data-feather="star" width="12" style="margin-top:-2px;"></i> {{r.stargazers_count}}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
