<div id="projects-container" class="projects">
  {% if site.github.public_repositories %}
  <h3 class="display-6 fw-bold mb-4" id="repos">Repositories</h3>
  <div class="row g-2">
    {% assign repos = site.github.public_repositories | where:'fork', false | sort: 'stargazers_count' | reverse %}
    {% for r in repos limit: 12 %}
    <div class="col col-md-6 col-lg-4">
      <div class="card border-0 rounded-0 bg-light h-100 p-2 pb-0">
        <div>
          <h5><a href="{{ r.html_url }}" class="text-dark text-decoration-none stretched-link" target="_blank">{{r.name}}</a></h5>
          <p class="small mt-0 mb-2">{{r.description}}</p>
          <p class="text-muted mb-2" style="font-size: .7em;">
            {{r.stargazers_count}} stars • Last pushed at {{r.pushed_at | date: "%b %e, %Y" }}
          </p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <p class="text-center mt-4 small">
    <a href="{{ site.github.owner_url }}"
       role="button"
       target="_blank"
       class="btn btn-outline-dark text-decoration-none"
       >see all repositories</a>
  </p>
  <hr class="thin mb-4" />
  {% endif %}

  <h3 class="display-6 fw-bold mb-4" id="reports">Reports</h3>
  <div class="mb-4">
    {% assign reports = site.data.reports | sort: 'date' | reverse %}
    {% for r in reports %}
    <div class="card border-0 rounded-0 bg-light p-2 pb-0 mb-2">
      <h5>
        <a href="{{ r.url }}" class="link-dark text-decoration-none stretched-link" target="_blank">{{r.name}}</a>

      </h5>
      <p class="small mt-0 mb-2">{{r.description}}</p>
      <p class="text-muted mb-2" style="font-size: .7em;">
        Published at {{r.date | date: "%b %e, %Y" }}
        <span class="navbar-text small ms-2 me-2 sr-none" aria-hidden="true">•</span>
        <span style="font-size: 1.2em;">
          {% include posts/badges.html tags=r.keywords link_prefix='#' %}
        </span>
      </p>
    </div>
    {% endfor %}
  </div>
</div>
