<div class="fs-2">
  {% if site.footer-links.github %}
    <a href="https://github.com/{{ site.footer-links.github }}"
      target="_blank"
      ><i
      aria-label="GitHub"
      class="bi bi-github link-dark"></i></a>
  {% endif %}
  {% if site.footer-links.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"
      target="_blank"
      title="LinkedIn"><i class="bi bi-linkedin text-primary"></i></a>
  {% endif %}
  <span itemscope itemtype="https://schema.org/Person">
    <a itemprop="sameAs" content="https://orcid.org/0000-0002-8793-7300" href="https://orcid.org/0000-0002-8793-7300"
       target="orcid.widget"
       rel="me noopener noreferrer"
       title="Orcid"
      ><img src="/assets/images/infra/32px-ORCID_iD.webp" style="margin-bottom: 7px; width: 32px;"></a>
  </span>
  {% if site.footer-links.stackoverflow %}
  <a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"
     target="_blank"
     title="Stackoverflow"><i class="bi bi-code-slash link-dark"></i></a>{% endif %}
  {% if site.footer-links.youtube %}
    <a href="https://youtube.com/{{ site.footer-links.youtube }}"
      target="_blank"
      title="Youtube"><i class="bi bi-youtube text-danger"></i></a>{% endif %}
  {% if site.footer-links.email %}
    <a href="mailto:{{ site.footer-links.email }}"
      target="_blank"
      title="Mail"><i class="bi bi-envelope-fill link-dark"></i></a>
  {% endif %}
  <a href="assets/docs/lucas-david-resume.pdf"
     target="_blank"
     title="Resume"><i class="bi bi-person-lines-fill link-dark"></i></a>
</div>
