<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32"/>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
        href="{{ site.baseurl }}/feed.xml"/>
  {% include analytics.html %}
</head>
<body>
<nav class="white black-text z-depth-0" role="navigation">
  <div class="nav-wrapper">
    <div class="container">
      <a href="{{ site.baseurl }}/" class="brand-logo black-text center-on-small-only">
        <img src="{{site.baseurl}}/assets/profile-s.jpg" alt="Lucas's profile picture."
             class="circle">
        {{site.name}}
        <small>{{ site.description }}</small>
      </a>

      <a href="#" data-target="nav-mobile"
         class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
      <ul id="nav-main" class="right hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}/studies" class="black-text">Studies</a></li>
        <li><a href="https://www.linkedin.com/in/lucasolivdavid/" class="black-text"
               target="_blank">About</a></li>
      </ul>
      <ul class="sidenav" id="nav-mobile">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/studies">Studies</a></li>
        <li><a href="https://www.linkedin.com/in/lucasolivdavid/"
               target="_blank">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="main" role="main">
  {{ content }}
</div>

<footer class="page-footer grey lighten-4">
  <br><br><br>
  <div class="container">
    <div class="row right-align">
      <div class="col s12">
        {% include svg-icons.html %}
      </div>
    </div>
  </div>

  <div class="footer-copyright grey lighten-4">
  </div>
</footer>

{% include analytics.html %}
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="/assets/js/start.js"></script>
</body>
</html>
