---
layout: default_sidenav
---

<article class="post">
  <div class="sticky-lg-top pt-2">
    <h1 id="postTitle" class="display-4 fw-bold">
      {{ page.title }}
    </h1>
    <div class="right-align mb-4">
      <p class="small text-muted">{{ page.excerpt }} <em>— {{ page.date | date: "%B %e, %Y" }}</em></p>
    </div>
  </div>

  <div class="mt-4 mb-4">
    <small>
      {% include posts/badges.html tags=page.tags %}
    </small>
  </div>
  <div class="article-content">
    {{ content }}
  </div>
</article>

{% include disqus.html %}

<div class="progress fixed-bottom rounded-0" style="height: 3px;">
  <div id="readProgressBar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
