---
layout: default
---

<div class="small-empty-v-space"></div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3"></div>
    <div class="col-12 col-lg-7">
      <article class="post">
        <h1 class="display-4">{{ page.title }}</h1>
        <div class="right-align">
          <p class="small text-muted">{{ page.excerpt }} <em>— {{ page.date | date: "%B %e, %Y" }}</em></p>
        </div>

        <div class="article-content">
          {{ content }}
        </div>
      </article>
      <div class="mt-4">
        {% include posts/badges.html tags=page.tags %}
      </small>

      {% include disqus.html %}
    </div>
    <div class="col-12 col-lg-2"></div>
  </div>
</div>

<div class="empty-v-space"></div>
